#versions-modal.modal.fade(role="dialog")
  .modal-dialog
    .modal-content
      .modal-header
        %button.close(type="button" data-dismiss="modal") &times;
        %h4.modal-title
      .modal-body
        %div#modal-content
        %img#modal-loader.img-responsive.img-center(src="loader.gif")